.footer {
  background-color: var(--gray-black);
  color: var(--gray-600);
  padding-top: 64px;
  padding-bottom: 64px;
}

footer a {
  color: var(--gray-400);
  text-decoration: none;
}

.footer__list {
  display: flex;
  gap: var(--space3x);
}

.footer__address {
  font-style: normal;
}

.footer__title {
  margin-top: 0;
}

.footer>*:not(:first-child) {
  margin-top: var(--space3x);
}