.section {
  position: relative;
}

.section--dark {
  color: var(--gray-white);
  padding-top: 160px;
  padding-bottom: 160px;
}

.section__title {
  font-size: var(--title-xxl);
  line-height: 1.1;
  margin: 0;
}

.section__intro {
  font-size: var(--title-xl);
  line-height: 1.5;
}

.section__img {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  z-index: -1;
}

.section__img::after {
  content: "";
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  z-index: 1;
  background-color: var(--brand-violet);
  opacity: 0.4;
}