.carousel {
  display: flex;
  gap: var(--space2x);
  overflow-x: scroll;
  margin-left: calc(0px - var(--space3x));
  margin-right: calc(0px - var(--space3x));
  scroll-snap-type: x mandatory;
}

.carousel__item {
  flex: 1 0 260px;
  scroll-snap-align: center;
}

.carousel__item img {
  display: block;
}

::-webkit-scrollbar-track {
  background-color: var(--gray-200);
}

::-webkit-scrollbar {
  height: 4px;
  background-color: var(--gray-white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--brand-saumon);
}