.menu {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  display: flex;
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right : 0;
  background-color: var(--brand-violet);
  font-size: var(--text-xl);
  letter-spacing: var(--letter-spacing);
  transition: all .4s ease-in-out;
}

.menu--open {
  visibility: visible;
  opacity: 1;
}

.menu__list {
  margin-top: 25vh;
  margin-left: 15vw;
}

.menu__item {
  margin-top: 15%;
}

.menu__link {
  color: var(--gray-white);
  text-decoration: none;
}


/* Menu burger */

.menu-btn {
  position: relative;
  width: 30px;
  cursor: pointer;
  background: none;
  border: none;
  appearance: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
  content: '';
  background: var(--gray-white);
  height: 2px;
  width: 100%;
  position: absolute;
  border-radius: 2px;
  left: 0;
  z-index: 10;
  transition: all .4s ease-in-out;
}

.menu-btn__bar::before {
  top: -10px;
}

.menu-btn__bar::after {
  top: 10px;
}

.menu-btn--open .menu-btn__bar,
.menu-btn--open .menu-btn__bar::before,
.menu-btn--open .menu-btn__bar::after {
  transform: rotate(135deg);
  background-color: var(--gray-white) !important;
}

.menu-btn--open .menu-btn__bar::before,
.menu-btn--open .menu-btn__bar::after {
  transform: rotate(90deg);
  top: 0;
}

.header--atTop .menu-btn__bar,
.header--atTop .menu-btn__bar::before,
.header--atTop .menu-btn__bar::after {
  background-color: var(--gray-black);
}